/* main from index, before it became nav */
main {
background-color: #B2D7E3;
margin: 125px 10% 70px 10%;
padding: 0 0.7%;
border: 2px solid white;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

main {
    background-color: #DFF5FF;
    border: 0;
    margin-top: 120px;
    margin-bottom: 60px;
}

main section {
    background-color: #B2D7E3;
    margin: 0 10% 45px 10%;
    padding: 10px;
    border: 2px solid white;
    font-family: 'open sans', sans-serif;
    color: #393939;
}

main ul {
    background-color: #B2D7E3;
    padding: 5px 7px 5px 25px;
    border: 2px solid white;
}

main ul li {
    color: #323232;
    font-size: 18px;
    /* font-weight: 600; */
    font-weight: 500;
    font-family: 'open sans', sans-serif;
}

main ul li::marker {
    color: #4d636b;
}

main p {
    margin: 0 0 0 10px;
    color: #323232;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}




@media(max-width: 750px) {

    main {
        margin: 95px 5% 30px 5%;
    }

    main section {
        margin: 5px 0 45px 0;
    }



}





@media(max-width: 575px) {

    main {
        margin: 95px 5% 30px 5%;
    }

    main section {
        margin: 5px 0 45px 0;
    }



}