@media(max-width: 575px) {

    body {
        width: 100%;
    }

    header .logo-section {
        width: 70%;
    }

    header nav ul hr {
        display: none;
    }

    header nav .material-symbols-rounded {
        display: inline;
    }

    header nav ul li a {
        display: none;
    }

    main {
        flex-direction: column;
        align-items: center;
        margin: 95px 5% 70px 5%;
    }

    .category {
        margin: 4% 0%;
    }






}