body {
    background-color: rgb(249, 249, 249);
}

header {
    background-color: rgb(40, 40, 40);
}

main {
    margin: 117px 7% 125px 7%;
}

main>img {
    max-width: 100%;
    width: 100%;
    margin: 0px;
    margin-bottom: 1%;
}

#mini-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6%;
}

#mini-section>img {
    max-width: 49.26%;
    width: 49.26%;
}

footer {
    background-color: rgb(82, 82, 82);
}

footer .footers-footer {
    background-color: rgb(47, 47, 47);
}