body {
    background-color: rgb(249, 249, 249);
}

header {
    background-color: rgb(40, 40, 40);
}

main {
    margin: 117px 7% 125px 7%;
}

#images-in-main {
    display: flex;
    justify-content: space-between;
}

main img {
    border: 2px solid rgb(125, 125, 125);
}

main #image-section-one {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#snail-on-grain-img {
    margin: 0 0 2% 0;
    width: 99%;
    max-width: 99%;
    max-height: auto;
}

#butterfly-on-yellow-flower-img {
    margin: 2% 0;
    max-width: 99%;
    width: 99%;
}

#grasshopper-on-grass {
    width: 99%;
}

#image-section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52%;
}

#insect-on-grass-head {
    margin: 0 0 2% 0;
    width: 99%;
}


#box-image-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

#beetle-on-leaf {
    margin: 0 2% 2% 0;
    max-width: 58%;
    width: 59.04%;
    height: auto;
}

/* NOTE: Remember to do maths for above so not squished, or find other un-squishing solution */

#image-box-mini-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    max-width: 36%;
    width: 36%;
    margin-right: 0.3%;
    padding-bottom: 1.3%;
}

#blue-butterfly-on-grass-stalk-img {
    margin: 2% 0 2% 2%;
    width: 100%;
}

#comma-butterfly-on-thistle {
    margin: 2% 0 2% 2%;
    width: 100%;
}

#wasp-on-glass {
    margin: 0 0 2% 2%;
    width: 100%;
}

#caterpillar-on-ground {
    margin: 2% 0;
    width: 99%;
}

#bumblebee-on-yellow-flower {
    margin: 2% 0 0 0;
    width: 99%;
}

footer {
    background-color: rgb(82, 82, 82);
}

footer .footers-footer {
    background-color: rgb(47, 47, 47);
}



/* Tablet css below */
@media(max-width: 750px) {


    main {
        margin: 117px 8% 70px 8%;
    }

    #images-in-main {
        flex-direction: column;
    }

    main #image-section-one {
        width: 100%;
    }

    #snail-on-grain-img {
        margin: 0 0 1.5% 0;
    }

    #butterfly-on-yellow-flower-img {
        margin: 1.5% 0;
    }

    #image-section-two {
        width: 100%;
    }

    #grasshopper-on-grass {
        margin: 1.5% 0;
    }

    #insect-on-grass-head {
        margin: 1.5% 0;
    }

    #beetle-on-leaf {
        margin: 0 0 2% 0;
    }

    #image-box-mini-section {
        max-width: 100%;
        width: 38%;
    }

    #comma-butterfly-on-thistle {
        margin: 2.2% 0 2% 2%;
        width: 100%;
    }

    #caterpillar-on-ground {
        margin: 1.5% 0;
    }

    #bumblebee-on-yellow-flower {
        margin: 1.5% 0 0 0;
    }




}



/* Phone css below */
@media(max-width: 575px) {


    main {
        margin: 117px 7% 50px 7%;
    }

    #box-image-section {
        flex-direction: column;
    }

    #beetle-on-leaf {
        margin: 0 2% 2% 0;
        max-width: 99%;
        width: 99%;
        height: auto;
    }

    #image-box-mini-section {
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        align-items: start;
        flex-wrap: wrap;
    }

    #blue-butterfly-on-grass-stalk-img {
        margin: 2% 2% 2% 0;
        width: 47.5%;
    }
    
    #comma-butterfly-on-thistle {
        margin: 2% 0 2% 0;
        width: 48.5%;
    }

    #wasp-on-glass {
        margin: 2% 0 0% 0;
        max-width: 99%;
    }




    
}