body {
    background-color: rgb(249, 249, 249);
}

header {
    background-color: rgb(40, 40, 40);
}

main {
    margin: 117px 7% 125px 7%;
}

#images-in-main {
    display: flex;
    justify-content: space-between;
}

main img {
    border: 2px solid rgb(125, 125, 125);
}

main #image-section-one {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#snail-on-grain-img {
    margin: 0 0 2% 0;
    width: 99%;
    max-width: 99%;
    max-height: auto;
}

#butterfly-on-yellow-flower-img {
    margin: 2% 0;
    max-width: 99%;
    width: 99%;
}

#grasshopper_on_grass {
    width: 99%;
}

#image-section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52%;
}

#insect-on-grass-head {
    margin: 0 0 2% 0;
    width: 99%;
}


#box-image-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

#beetle_on_leaf {
    margin: 0 2% 2% 0;
    max-width: 50%;
    width: 50%;
    height: auto;
}

#image-box-mini-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0.3%;
}

#blue_butterfly_on_grass_stalk_img {
    margin: 0 0 2% 2%;
    width: 95%;
}

#comma_butterfly_on_thistle {
    margin: 2% 0 2% 2%;
    width: 95%;
}

#caterpillar_on_ground {
    margin: 2% 0;
    width: 99%;
}

#bumblebee_on_yellow_flower {
    margin: 2% 0 0 0;
    width: 99%;
}

footer {
    background-color: rgb(82, 82, 82);
}

footer .footers-footer {
    background-color: rgb(47, 47, 47);
}