body {
    margin: 0;
    font-family: 'nunito', sans-serif;
}

header {
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 2px;
}

header .logo-section a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .logo-section a img {
    max-width: 45px;
    margin: 0 40px;
    margin-right: 4px;
}

header .logo-section a h1 {
    display: inline;
    font-size: 20px;
}

header .logo-section a h1:first-line {
    margin: 0;
    color: rgb(41, 39, 39);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 17px;
}

header .logo-section a h1 span {
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    line-height: 25px;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav ul li:last-of-type {
    margin-right: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(254, 226, 226);
    padding: 5px 12px;
}

header nav ul li a:hover {
    color: rgb(249, 242, 242);
    background-color: rgb(225, 139, 168);
    border-radius: 8px;
}

header nav ul hr {
    height: 20px;
    color: rgb(239, 213, 213);
    border-style: solid;
    margin: 0 8px;
}

main {
    background-color: antiquewhite;
    margin: 70px 8%;
    display: flex;
    flex-wrap: wrap;
}

.category {
    position: relative;
}

.category img {
    border-radius: 42px;
    border: 7px solid rgb(221, 189, 189);
    margin-top: 7px;
    object-fit: cover;
    width: 235px;
    height: 235px;
}
/* the below css gives an invisible div a border to very faintly 
smooth out the img's bottom two corners */
.category .extra-img-border {
    position: absolute;
    border-radius: 42px 42px 8px 8px;
    border: 7px solid rgb(221, 189, 189);
    top: 7px;
    width: 235px;
    height: 191px;
}

.category .category-title-and-icon {
    position: absolute;
    background-color: rgb(221, 204, 204);
    border-radius: 0 0 40px 40px;
    left: 4px;
    bottom: 11px;
    height: 45px;
    width: 240px;
}

.category .category-title-and-icon h2 {
    color: black;
    margin: 0;
    margin-left: 20px;
    line-height: 43px;
    font-size: 30px;
}

.category .category-title-and-icon .arrow-icon {
    font-family: 'manrope', 'Courier New', Courier, monospace;
    font-size: 60px;
    text-decoration: none;
    color: rgb(28, 31, 34);
    position: absolute;
    padding: 195px 27px 14px 188px;
    bottom: -6px;
    left: -6px;
    line-height: 40px;
    border-radius: 42px;
}

.category .category-title-and-icon .arrow-icon:hover {
    color: aliceblue;
    cursor: pointer;
}
