body {
    margin: 0;
    font-family: 'nunito', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-container {
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 2px;
}

header .logo-section a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .logo-section a img {
    max-width: 45px;
    margin: 0 40px;
    margin-right: 4px;
}

header .logo-section a h1 {
    display: inline;
    font-size: 20px;
}

header .logo-section a h1:first-line {
    margin: 0;
    color: rgb(41, 39, 39);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 17px;
}

header .logo-section a h1 span {
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    line-height: 25px;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav ul li:last-of-type {
    margin-right: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(254, 226, 226);
    padding: 5px 12px;
}

header nav ul li a:hover {
    color: rgb(249, 242, 242);
    background-color: rgb(225, 139, 168);
    border-radius: 8px;
}

header nav ul hr {
    height: 20px;
    color: rgb(239, 213, 213);
    border-style: solid;
    margin: 0 8px;
}

main {
    background-color: antiquewhite;
    margin: 125px 8% 70px 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    position: relative;
    background-color: rgb(237, 211, 211);
    border-radius: 42px;
    border: 7px solid rgb(221, 189, 189);
    width: 235px;
    height: 235px;
    margin: 4% 1%;
}

.category .category-title {
    position: absolute;
    color: black;
    margin: 0;
    margin-left: 20px;
    line-height: 43px;
    font-size: 30px;
    bottom: 0px;
}

.category img {
    position: absolute;
    object-fit: cover;
    border-radius: 37px 37px 8px 8px;
    width: 235px;
    height: 191px;
}

.category .arrow {
    font-family: 'manrope', 'Courier New', Courier, monospace;
    font-size: 60px;
    text-decoration: none;
    color: rgb(28, 31, 34);
    position: absolute;
    padding: 195px 27px 14px 188px;
    bottom: -6px;
    left: -6px;
    line-height: 40px;
    border-radius: 42px;
}

.category .arrow:hover {
    color: aliceblue;
}

/* Do I want the h2 to also lighten on hover? add to same layer? 
inside >'s span? */