body {
    margin: 0;
}

header {
    background-color: palevioletred;
    display: flex;
    align-items: center;
    height: 55px;
}

header img {
    max-width: 45px;
    margin: 0 40px;
    margin-right: 4px;
}

header h1 {
    display: inline;
    font-size: 20px;
}

header h1:first-line {
    margin: 0;
    color: rgb(41, 39, 39);
    font-family: 'Nunito', sans-serif;
    line-height: 0;
}

header h1 span {
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}